.headfastimg-fimg{
    width: 615px;
    height: 720px;
}
.lisalogo-sty{
    width: 210px;
    margin-left: 42%;
    margin-top: -95%;
}
.menubaton img{
    margin-left: 93%;
    margin-top: -105%;
}
.circleimg-sty{
    width: 44%;
    margin-left: 53%;
    margin-top: -57%;
}
.htextsty{
    font-size: 33px;
    letter-spacing: 0.3em!important;
    text-align: left;
    color: #333;
    font-family: "Afrah Light",Verdana,Arial,sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    margin-top: -40%;
    margin-left: 64%;

}
.htextsty strong{
    color: #4c2633;

} 
.textright{
    margin-left: -1%;
}
.textleft{
    margin-left: -40%;
}
.bodytext{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    padding: 0;
    word-wrap: break-word;
    margin-left: 70%;
    margin-top: 2%;
}
img.alllet-img{
    width: 90px;
    margin: 80px;
    padding: 20px;
    margin-left: 70%;
    margin-top: 0%;
}
.alllet-style h3{
    margin-top: -22%;
    margin-left: 75%;
    color: #4d2e38;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}
.alllet-style h1{
    margin-top: -12px;
    margin-left: 75%;
    color: #4c2633;
}
img.allletbaton-img{
    margin: 0px;
    margin-top: 0px;
    margin-left: 75%;
}
.headfastimg{
    background: url(./img/Menu-background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    opacity: 0.5;
    width: 55%;

}
.allbackimg{
    background: url(./img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: scroll;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
}
.hfooterback{
    background: url(./img/smudge.webp);
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: scroll;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    margin-top: -55px;
    margin-right: 0px;
    padding-bottom: 60px;
}

.makers strong {
    color: #4c2633;
}

.makers h1{
    font-size: 60px;
     
}
.makers h2{
    font-size: 60px;
     
}
.makers h1{
    font-family: "Sophillia";
}
.makers h2{
    font-family: "Sophillia";
}
.makers{
    text-align: right;
}
.fl-rich-text{
    color: rgb(10, 10, 10);
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;

}
img.makers-img {
    width: 52%;
}
.makers-right-img img{
    width: 100%;
}
.col-md-5.pad {
    padding: 0px;
}
img.markers-right {
    width: 46%;
    margin-top: -155px;
    margin-left: 70px;
}
.makers-right-img {
    background: url(./img/2img-copy-background.svg) no-repeat center;
    padding-bottom : 127px;
}
.change h1{
    font-family: "Playfair Display Bold";
    font-weight: bold;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.1em;
}
.change h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 40px;
    }
.change  p{
    font-size :16px;
    margin-bottom: 0;
    letter-spacing: 0.2em;
    margin: 0 0 10px;
    overflow-wrap: break-word;
}
.change{
    background: url(./img/letter-c.svg) no-repeat;
    background-position: left;
    background-attachment: scroll;
    background-size: contain;
    padding: 103px;
    margin: 190px ;
}
.img.sec_4-beck2 {
    width: 10px;
}

img.back-img{
    width: 40px;
    padding: -5px;
    margin: 60px;
}
img.back-img2{
    width: 105%;
    margin-top: -555px;
    margin-left: 100px;
}
.sec4{
    background: url(./img/image-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    margin-top: -25px;
    margin-right: 0px;
}

img.chan1-img{

    width: 80px;
    margin: 80px;
    padding: 15px;
}
.let-style h3{
    margin-top: -270px;
    margin-left: 153px;
    color: #4d2e38;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}
.let-style h1{
    margin-top: -5px;
    margin-left: 152px;
    color: #4c2633;
}
img.baton-img{
    margin: 140px;
    margin-top: -10px;
}
.text-sty{
    margin: 34px;
    padding: 5px;
}
.text-sty h3{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
    text-transform: none;
    font-style: italic;
}
.text-sty p{
    letter-spacing: 0.2em;
    margin: 0 0 10px;
    overflow-wrap: break-word;
}

.t-sty h3{
    margin: 50px;
    padding: 10px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
}
.t-sty h3 strong{
    color: #4c2633;
    letter-spacing: 0em;
    font-size: 50px;
    
}
.t-sty h1{
    margin-top: -60px;
}
.t-sty h1 strong{
    color: #4c2633;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    margin-right: -150px;
    font-size: 50px;
}
.pst p{
    letter-spacing: 0.2em;
    margin: 36px;
    padding: 5px;
    margin-left: 95px;
    margin-top: 70px;
}
.backgsty img{
    width: 310px;
    margin: 10px;
    padding: 8px;
    margin-left: -45px;
    margin-top: -95px;
}
img.backgsty-bsty{
    width: 450px;
    margin-top: -18px;
    margin-left: 40px;
}
.backgsty{
    background: url(./img/2img-copy-background.svg) no-repeat center;
    margin: 10px;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 9px;
    padding-right: 0px;
    padding-left: 45px;
    margin-top: 0px;
}
.fontsty h4{
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: normal;
    letter-spacing: 0.2em!important;
    font-size: 20px;
    line-height: 1.4;
    overflow-wrap: break-word;
}
.fontsty p{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    letter-spacing: 0.2em;
    margin-top: 1em;
}
img.cimg-style{
    width: 250px;
    margin: 70px;
    padding: 5px;
}
img.cerimg-colon{
    width: 25px;
    margin: 5px;
    height: auto;
    margin-top: 130px;
}
.cerimg h2{
    font-family: "Playfair Display Bold";
    font-weight: bold;
    font-size: 55px;
    line-height: 1.1em;
    letter-spacing: 0.2em;
    margin-top: 1px;
    margin: 24px;
    margin-top: -40px;
    margin-left: 35px;
}
.cerimg h3{
    margin-top: -10px;
    margin-bottom: 11px;
    font-size: 30px;
    letter-spacing: 0.2em;
}
.cerimg p{
    font-size: 20px;
    letter-spacing: 0.2em;
    overflow-wrap: break-word;
    margin: 35px;
    padding: 200px;
    margin-top: -210px;
    margin-left: -200px;
}
img.cha-img{

    width: 80px;
    margin: 80px;
    padding: 15px;
}
.let-sty h3{
    margin-top: -270px;
    margin-left: 153px;
    color: #4d2e38;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}
.let-sty h1{
    margin-top: -5px;
    margin-left: 152px;
    color: #4c2633;
}
img.p-img{
    margin: 140px;
    margin-top: -10px;
}
.let-sty{
    margin: -110px;
    margin-top: -295px;
}
.psty{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 100;
    line-height: 2.1;
    font-style: normal;
    box-sizing: border-box;
    letter-spacing: 0.2em;

}
.psty p{
    margin: 0px;
    margin-top: -585px;
    margin-left: 160px;
}
.cerimg{
    background: url(./img/quote-background.jpg) no-repeat right;
    height: auto;
    max-width: 100%;
    
}
.alltsty p{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    letter-spacing: 0.2em;
    margin: 50px;
    padding: 15px;
}
.allimgsty h2{
    font-family: "Afrah Light",Verdana,Arial,sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-top: 85px;
    margin-bottom: 4px;
    margin-left: 470px;
}
.allimgsty strong{
    font-size: 2em;
    letter-spacing: 0em!important;
    font-family: "Sophillia";
    font-weight: 500!important;
    color: #4c2633;
    line-height: 0.5em;
}
.allimgsty-1{
    width: 680px;
    margin: -10px;
    padding: 5px;
    margin-left: 240px;
}
.allimgsty-2{
    width: 395px;
    margin: 40px;
    padding: 20px;
    margin-top: -780px;
    margin-left: -75px;
}
.allimgsty {
    background: url(./img/two-image-content-smudgeAsset-1.svg) no-repeat center;
    padding-bottom : 390px;
}
.stylesec10-sty1{
    width: 650px;
    margin: 10px;
    padding: -2px;
    margin-left: 40px;
}
.stylesec10-sty{
    width: 650px;
    margin: 10px;
    padding: 0px;
    margin-left: 40px;
}
.stylesec10 p{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    font-size: 20px;
    margin: 100px;
    padding: 220px;
    margin-top: -185px;
    margin-left: 50px;
}
.stylesec10-img1{
    width: 25px;
    margin: -16px;
    padding: 0px;
    margin-left: -460px;
    margin-bottom: -188px;
}
.stylesec10-img2{
    width: 25px;
    margin: -16px;
    padding: 0px;
    margin-left: -1px;
    margin-left: 352px;
    margin-top: -735px;
}
.stylesec10 h3{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    padding: 0;
    letter-spacing: 0.2em;
    margin: 0px;
    margin-top: -340px;
    margin-left: 272px;
}
.stylesec10-sty2{
    width: 650px;
    margin: 10px;
    padding: -2px;
    margin-left: 700px;
    margin-top: 25px;
}
.sec11text h2{
    font-family: "Afrah Light",Verdana,Arial,sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 3.1;
    margin-left: 450px;
    line-height: 2.1;
    letter-spacing: 0.2em;
    
}
.sec11text h2 strong{
    font-size: 2em;
    letter-spacing: 0em!important;
    font-family: "Sophillia";
    font-weight: 500!important;
    color: #4c2633;
    line-height: 0.5em;
    
}
.sec11t2 {
    margin-left: -100px;
    margin-top: -35px;
}
img.chan2-img{

    width: 80px;
    margin: 80px;
    padding: 15px;
}
.let1-style h3{
    margin-top: -270px;
    margin-left: 153px;
    color: #4d2e38;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}
.let1-style h1{
    margin-top: -5px;
    margin-left: 152px;
    color: #4c2633;
}
img.baton2-img{
    margin: 140px;
    margin-top: -10px;
}
.let1-style{
    margin-left: 515px;
    margin-top: -110px;
}
.sec12text h2{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
    text-transform: none;
    font-style: normal;
    font-size: 30px;
    line-height: 1.4;
    margin-left: 580px;
    margin-top: -70px;
    letter-spacing: 7px;
}
.sec12img{
    margin: 10px;
    padding: 5px;
    margin-top: -20px;
    margin-left: 140px;
}
img.sec12img-all{
    width: 290px;;
}
.footertopimg-sty{
    width: 110%;
    margin: 10px;
    padding: 10px;
    margin-left: -120px;
    margin-top: -60px;
}
.ftest1{
    font-family: Sophillia,Verdana,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0px!important;
    font-size: 50px;
    color: #4c2633;
}
.allmenubarsty{
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.1;
    font-style: normal;
    color: #000;
    font-size: 20px;
    margin: 20px;
    padding: 30px;
}
.allmenubarsty a{
    color: #161616;
    text-decoration: auto;
}
.lisaimg-sty{
    width: 140px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 105px;
}
.lisatext1{
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    letter-spacing: 0.2em;
    font-size: 13px;
    text-align: center;
    margin: 13px;
    padding: 0px;
    margin-left: -25px;
    margin-top: 30px;
}
.lisatext2{
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font: #000;
    font-size: 14px;
    line-height: 2.1;
    font-style: normal;
    letter-spacing: 0.2em;
}
.jointext1{
    font-family: Sophillia,Verdana,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0px!important;
    font-size: 40px;
    color: #4c2633;
}
.jointext2{
    color: #000;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 10px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 2pc;
}
.joinbatton button {
    color: #fff;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    padding: 0;
    word-wrap: break-word;
    margin-bottom: -1%;
    margin-left: 100px;
    margin-top: -20px;
    background-color: black;
    margin: 5px;
    padding-inline: 130px;
    
}
.sbatton{
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.1;
    font-style: normal;
    color: #000;
    font-size: 13px;
    margin: 5px;
    padding: 0px;
    margin-left: 120px;

}
.sbatton a{
    color: #161616;
    text-decoration: auto;
}
.jbackimg{
    background: url(./img/quote-background.jpg) no-repeat center;
    padding-bottom : 10px;

}
.footer{
    background: url(./img/footer-background-1.jpg) no-repeat center;
    padding-bottom : 10px;
}
.btpsty{
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    line-height: 2.1;
    font-style: normal;
    color: #000;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    margin-left: 215px;

}
.btpsty a{
    color: #161616;
    text-decoration: auto;
    background-color: rgba(76,38,51,.5);
    border-radius: 300px;
    height: 40px;
    width: 40px;
    font-family: "Playfair Display Regular",Verdana,Arial,sans-serif;
    font-size: 0px;
    font-weight: 400;
    line-height: 2.1;
    font-style: normal;
    padding: 0;
    word-wrap: break-word;
    color: #4c2633;
    display: inline;
    
}
.btpsty a img{
    width: 30px;
    margin: 0px;
    padding: 0px;
    margin-left: 145px;
    margin-top: -75px;
}